<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ycxy.dao.ProductMapper">
	
	<!-- 获得用户要发布的所有商品 -->
	<select id="queryProducts" resultMap="TransMap">
		select * from product where proUserid=#{proUserid}
	</select>
	
	<resultMap type="com.ycxy.model.Product" id="TransMap">
		<result property="id" column="id"/>
		<result property="proName" column="proName"/>
		<result property="proSellprice" column="proSellprice"/>
		<result property="proCostprice" column="proCostprice"/>
		<result property="proCondition" column="proCondition"/>
		<result property="proPicsrc" column="proPicsrc"/>
		<result property="proUserid" column="proUserid"/>
		<result property="tranStateid" column="tranStateid"/>
		
		<association property="tranState" select="queryTranState" column="tranStateid"></association>
	</resultMap>
	
	<select id="queryTranState" resultType="com.ycxy.model.TranState">
		select * from transtate where id=#{tranStateid}
	</select>
	
	<!-- 更新商品发布状态：1 未发布 ，2 已发布 -->
	<update id="updataProduct">
		update product 
		set tranStateid=#{tranStateid}
		where id=#{id}
	</update>
	
	<!-- 获得主界面展示的所有商品 -->
	<select id="queryProductIndexs" resultType="com.ycxy.model.ProductIndex">
		select * from productindex
	</select>
</mapper>